<div class="container-fluid">
    <div class="row" style="text-align:center">
        <div class="col-md-12">
            <a href="" [innerText]="footerLink[0]"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="" [innerText]="footerLink[1]"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="" [innerText]="footerLink[2]"></a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="" [innerText]="footerLink[3]"></a>
        </div>
        <div class="col-md-12">
            <h5>&copy; {{copyRight}}</h5>
        </div>
    </div>
</div>