<h1 [innerText]="pageTitle"></h1>
<hr>
<h5 [innerText]="subTitle"></h5>
<br>
<table style="border: 1px solid black;" class="table table-hover table-stripped" *ngIf="hrsList.length > 0; else noDataTemplate">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Avtar</th>
            <!-- <th>Details</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hr of hrsList">
            <td><span [innerText]="hr.Id"></span></td>
            <td><span [innerText]="hr.Name"></span></td>
            <td><span [innerText]="hr.phone"></span></td>
            <td><span [innerText]="hr.email"></span></td>
            <td>
                <img [src]="hr.avtar" [alt]="hr.Name" [title]="hr.Name" style="height:30px;width:30px;">
            </td>
            <!-- <td>
                <button class="btn btn-primary" (click)="getSelectedEmployee(employee)">See Details</button>
            </td> -->
        </tr>
    </tbody>
</table>
<ng-template #noDataTemplate>
    <h4>There are no Hrs registered for this event.</h4>
</ng-template>