<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!-- 
        Using a HandlerFactory to be able to use POST, PUT, DELETE methods
      -->
      <add verb="GET,POST,PUT,DELETE" path="*.ashx" name="HandlerFactory" type="ServerCollectionView.HandlerFactory"/>
    </handlers>
    <security>
      <requestFiltering>
        <hiddenSegments >
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>