<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img [src]="home[0]" [alt]="Home1" style="height:300px;width:1500px">
      </div>
  
      <div class="item">
        <img [src]="home[1]" [alt]="Home2" style="height:300px;width:1500px">
      </div>
  
      <div class="item">
        <img [src]="home[2]" [alt]="Home3" style="height:300px;width:1500px">
      </div>
    </div>
    </div>
  

    
    <div class="pane-content">
            <div class="content-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="head_title text-center"><span>What we do</span></div><br>
                        <div class="head_title text-center"><span>We combine innovative ideas with deep business knowledge and global technology teams to deliver business solutions.</span></div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-4 col-sm-4  col-xs-12">
                        <div class="three_boxes position-relative digital_img hand_cursor" style='background-image: url("images/HmImg2.jpg");height:200px;height:300px;width:300px;' data-href="digital" >
                            <div class="position-absolute boxes_caption">
                                <div class="yellowStrip">digital</div>
        
                                <div class="capText">We partner you with more than just the solution.</div>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="three_boxes position-relative consulting_img hand_cursor" style='background-image: url("images/HmImg3.jpg");height:200px;' data-href="businessconsulting">
                            <div class="position-absolute boxes_caption">
                                <div class="yellowStrip">Business Consulting</div>
        
                                <div class="capText">We’re digital natives. Experience our creative work.</div>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="three_boxes position-relative technology_img no-margin-mob hand_cursor" style='background-image: url("images/HmImg1.jpg");height:200px;' data-href="technology">
                            <div class="position-absolute boxes_caption">
                                <div class="yellowStrip">Technology</div>
        
                                <div class="capText">Your IT needs change quickly. It’s time to stay ahead.</div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>  </div>