<div style="height: 34px">
 <div style="width:230px; height:1px; background:gray; position:relative;	top:50%">
        <div style="text-align:center; border-radius:5px; width:10px; height:10px; background:#d2d1cf; position:relative; left:50%; top:-5px;"></div>
        <div class="marker" #marker [ngStyle]="{background:color}" style="text-align:center; border-radius:30px; width:30px; height:30px; line-height:30px; background:black; color:white; position:relative; top:-25px; left:25%">
            {{value}}            
        </div>
    </div>
</div>